{% extends 'layout.html' %}
{% block content %}
    <h2 class="govuk-heading-l">
        Check the details you're updating for {{ candidate.first_name }} {{ candidate.last_name }}
    </h2>
    <form class="form" action="" method="post">
        <div class="govuk-form-group">
            <dl class="govuk-summary-list">
            {% if data.get('new-email') is not none %}
                {% include 'partials/check-email.html' %}
             {% endif %}
             {% for data_key, data_value in data.items() %}
                {% for key, value in data_value.items() %}
                    {% include 'partials/summary-section.html' %}
                {% endfor %}
            {% endfor %}
            </dl>
        </div>
        <div class="input submit">
            <input type="submit" value="Update" class="govuk-button">
        </div>
    </form>
{% endblock %}