{% extends 'layout.html' %}

{% block content %}
    <form class="govuk-form-group" method="post">
        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="which-email-address">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                    <h2 class="govuk-fieldset__heading">
                        Which of the candidate's email addresses do you want to change?
                    </h2>
                </legend>
                <div class="govuk-radios govuk-radios" data-module="radios">
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="which-email-address-1" name="which-email-address" type="radio" value="primary-email" data-aria-controls="which-email-address-1">
                        <label class="govuk-label govuk-radios__label" for="which-email-address-1">
                            Primary email
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input class="govuk-radios__input" id="which-email-address-2" name="which-email-address" type="radio" value="secondary-email" data-aria-controls="which-email-address-2">
                        <label class="govuk-label govuk-radios__label" for="which-email-address-2">
                            Secondary email
                        </label>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="input submit">
            <input type="submit" value="Continue" class="govuk-button">
        </div>
    </form>
{% endblock %}